div {
    border: 2px solid black;
}

#allWrap {
    width: 960px;
    height: 600px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#enemyWrap {
    width: calc(100% - 4px);
    height: 20%;
    text-align: center;
}

#heroWrap {
    border: none;
    width: 100%;
    height: calc(40% - 20px);
    text-align: center;
    position: relative;
    padding: 10px 0px;
    background-image: url(../images/heigen.jpg);
    background-size: 100% 100%;
}

#logWrap {
    border: none;
    width: 100%;
    height: 40%;
    display: flex;
}

#rightSideWrap {
    width: calc(35% - 72px);
    height: calc(100% - 44px);
    padding: 20px;
}

#leftSideWrap {
    width: calc(65% - 34px);
    height: calc(100% - 44px);
    padding: 20px;
}

#fightBtn,
#runBtn {
    border: 2px solid black;
    margin-bottom: 5px;
    font-size: 2em;
    text-align: center;
    display: none;
}

#battleChoice {
    width: 25%;
    height: (100%-4px);
    border: none;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

#heroLog {
    width: 75%;
    height: calc(100%-4px);
    float: right;
    margin: 0;
    border: 2px solid black;
    font-size: 2.5em;
}

#heroData {
    height: 210px;
    border: none;
    font-size: 14px;
}



#startBtn {
    margin-top: 20px;
    height: 10%;
    border: 2px solid black;
}

#enemyLogBox {
    height: calc(100% - 10% - 210px - 24px);
    border: none;
}

#enemyLog {
    width: 100%;
    height: 100%;
}

#heroPict {
    width: 67px;
    height: 67px;
    position: absolute;
    top: calc(50% - 33.5px);
    left: calc(50% - 33px);
}

#goStraight {
    position: absolute;
    left: calc(50% - 33.5px);
    background-color: white;
}

#goBack {
    position: absolute;
    left: calc(50% - 33.5px);
    bottom: calc(50% - 100.5px);
    background-color: white;
}

div#heroWrap spam {
    width: 65.5px;
    height: 65.5px;
    border: 1px solid black;
    font-size: 50px;
}

#goLeft {
    position: absolute;
    top: calc(50% - 33.5px);
    left: calc(50% - 100.5px);
    background-color: white;
}

#goRight {
    position: absolute;
    top: calc(50% - 33.5px);
    left: calc(50% + 33.5px);
    background-color: white;
}

#startBtn {
    text-align: center;
    font-size: 40px;
}

#enemyPict {
    height: 100px;
    width: 100px;
    display: none;
}

.directSelect {
    border: none;
}
